* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--stupidbgcolor);
  transition: 500ms;
  
  
}


#cybertruck {
  height: 100px;
  width: 100%;
  background-color: #C2F8CB;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: 300ms;
}

#cybertruck:hover{


}
:root{
  --stupidbgcolor:#023436;
  --stupid-text-color:#00BFB3;

}
#landingnotstandardcybertruck{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  font-size: 1rem;
  margin: 10%;
  color: var(--stupid-text-color);
  transition: 500ms;



}


a{
  background-color: #B3E9C7;
  height: 100%;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: black;
  font-family: 'The Nautigal', cursive;
  font-weight: 600;
  font-size: 24px;
  transition: 500ms;
  margin-left: 20px;
}

a:hover{
  filter: brightness(1.1);

}
